.game-box {
  display: block;
  margin: 20px 0;
  border: 1px solid blue;
  max-width: 270px;
  padding: 10px;
}

.loading {
  border: 10px solid #f3f3f3;
  border-top: 15px solid red;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
